<!DOCTYPE html>
<html>

<head>
    <title>Champion Info Result</title>
</head>

<body>
    <h1>Champion Information</h1>
    <p>Champ Name: {{ champ_info.name }}</p>
    <p>Auto Range: {{ champ_info.aarange }}</p>

    <h2>Champion Abilities</h2>
    <p><strong>Q Ability:</strong></p>
    <p>Range: {{ champ_info.q.range }}</p>
    <p>Target Range: {{ champ_info.q.targetranges }}</p>

    <p><strong>W Ability:</strong></p>
    <p>Range: {{ champ_info.w.range }}</p>
    <p>Target Range: {{ champ_info.w.targetranges }}</p>

    <p><strong>E Ability:</strong></p>
    <p>Range: {{ champ_info.e.range }}</p>
    <p>Target Range: {{ champ_info.e.targetranges }}</p>

    <p><strong>R Ability:</strong></p>
    <p>Range: {{ champ_info.r.range }}</p>
    <p>Target Range: {{ champ_info.r.targetranges }}</p>

    <!-- You can add more HTML elements and styling as needed -->

</body>

</html>