<!DOCTYPE html>
<html>

<head>
    <title>Champion Info Result</title>
</head>

<body>
    <h1>Champion Information</h1>
    <p>Champ Name: {{ champ_info.name }}</p>
    <p>Auto Range: {{ champ_info.aarange }}</p>

    <h2>Champion Abilities</h2>
    <p><strong>Q Ability:</strong></p>
    <p>Range: {{ champ_info.q.range }}</p>
    <p>Target Range: {{ champ_info.q.targetranges }}</p>
    <p>Effect Radius: {{ champ_info.q.effectrad }}</p>
    <p>Collision Radius: {{ champ_info.q.colrad }}</p>
    

    <p><strong>W Ability:</strong></p>
    <p>Range: {{ champ_info.w.range }}</p>
    <p>Target Range: {{ champ_info.w.targetranges }}</p>
    <p>Effect Radius: {{ champ_info.w.effectrad }}</p>
    <p>Collision Radius: {{ champ_info.w.colrad }}</p>

    <p><strong>E Ability:</strong></p>
    <p>Range: {{ champ_info.e.range }}</p>
    <p>Target Range: {{ champ_info.e.targetranges }}</p>
    <p>Effect Radius: {{ champ_info.e.effectrad }}</p>
    <p>Collision Radius: {{ champ_info.e.colrad }}</p>
    

    <p><strong>R Ability:</strong></p>
    <p>Range: {{ champ_info.r.range }}</p>
    <p>Target Range: {{ champ_info.r.targetranges }}</p>
    <p>Effect Radius: {{ champ_info.r.effectrad }}</p>
    <p>Collision Radius: {{ champ_info.r.colrad }}</p>
    
</body>

</html>
