<!DOCTYPE html>
<html>

<head>
    <title>Champion Info Result</title>
    <style>
        .champ{
            width: 10%;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class = "champ">
        <h1>Champion Information</h1>
        <p>Champ Name: {{ champList[0].name }}</p>
        <p>Auto Range: {{ champList[0].aarange }}</p>
        
        <h2>Champion Abilities</h2>
        <p><strong>Q Ability:</strong></p>
        <p>Range: {{ champList[0].q.range }}</p>
        <p>Target Range: {{ champList[0].q.targetranges }}</p>
        
        <p><strong>W Ability:</strong></p>
        <p>Range: {{ champList[0].w.range }}</p>
        <p>Target Range: {{ champList[0].w.targetranges }}</p>
        
        <p><strong>E Ability:</strong></p>
        <p>Range: {{ champList[0].e.range }}</p>
        <p>Target Range: {{ champList[0].e.targetranges }}</p>
        
        <p><strong>R Ability:</strong></p>
        <p>Range: {{ champList[0].r.range }}</p>
        <p>Target Range: {{ champList[0].r.targetranges }}</p>
    </div>

    <div class="champ">
        <h1>Champion Information</h1>
        <p>Champ Name: {{ champList[1].name }}</p>
        <p>Auto Range: {{ champList[1].aarange }}</p>
    
        <h2>Champion Abilities</h2>
        <p><strong>Q Ability:</strong></p>
        <p>Range: {{ champList[1].q.range }}</p>
        <p>Target Range: {{ champList[1].q.targetranges }}</p>
    
        <p><strong>W Ability:</strong></p>
        <p>Range: {{ champList[1].w.range }}</p>
        <p>Target Range: {{ champList[1].w.targetranges }}</p>
    
        <p><strong>E Ability:</strong></p>
        <p>Range: {{ champList[1].e.range }}</p>
        <p>Target Range: {{ champList[1].e.targetranges }}</p>
    
        <p><strong>R Ability:</strong></p>
        <p>Range: {{ champList[1].r.range }}</p>
        <p>Target Range: {{ champList[1].r.targetranges }}</p>
    </div>

    <div class="champ">
        <h1>Champion Information</h1>
        <p>Champ Name: {{ champList[2].name }}</p>
        <p>Auto Range: {{ champList[2].aarange }}</p>
    
        <h2>Champion Abilities</h2>
        <p><strong>Q Ability:</strong></p>
        <p>Range: {{ champList[2].q.range }}</p>
        <p>Target Range: {{ champList[2].q.targetranges }}</p>
    
        <p><strong>W Ability:</strong></p>
        <p>Range: {{ champList[2].w.range }}</p>
        <p>Target Range: {{ champList[2].w.targetranges }}</p>
    
        <p><strong>E Ability:</strong></p>
        <p>Range: {{ champList[2].e.range }}</p>
        <p>Target Range: {{ champList[2].e.targetranges }}</p>
    
        <p><strong>R Ability:</strong></p>
        <p>Range: {{ champList[2].r.range }}</p>
        <p>Target Range: {{ champList[2].r.targetranges }}</p>
    </div>

    <div class = "champ">
        <h1>Champion Information</h1>
        <p>Champ Name: {{ champList[3].name }}</p>
        <p>Auto Range: {{ champList[3].aarange }}</p>
        
        <h2>Champion Abilities</h2>
        <p><strong>Q Ability:</strong></p>
        <p>Range: {{ champList[3].q.range }}</p>
        <p>Target Range: {{ champList[3].q.targetranges }}</p>
        
        <p><strong>W Ability:</strong></p>
        <p>Range: {{ champList[3].w.range }}</p>
        <p>Target Range: {{ champList[3].w.targetranges }}</p>
        
        <p><strong>E Ability:</strong></p>
        <p>Range: {{ champList[3].e.range }}</p>
        <p>Target Range: {{ champList[3].e.targetranges }}</p>
        
        <p><strong>R Ability:</strong></p>
        <p>Range: {{ champList[3].r.range }}</p>
        <p>Target Range: {{ champList[3].r.targetranges }}</p>
    </div>
</body>

</html>